{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block about %}active{% endblock about %}

{% block body %}
<style>
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
</style>
<div class="jumbotron text-white" style="background-image: url(https://cdn.pixabay.com/photo/2014/05/03/00/45/computer-336628_960_720.jpg); background-size: 100%; height:400px;">
  <h1 class="display-4">About Us</h1>
  <p class="lead">BrightSide Instittution is a Software training and service center.</p>
  <hr class="my-4 white">
  <p>A platform to enhance your skill for better future & expand your business with technology.</p>
  
</div>
      <div class="row featurette container m-5" >
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <a class="btn btn-outline-info btn-lg" href="#" role="button">See Our Courses</a>
      </div>
      <div class="col-md-5 rounded-circle">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto py-5" src="./static/9.png"/>
      </div>
    </div>
    <img src="./static/8.png" class="container-fluid">
      <div class="row featurette container m-5" >
      <div class="col-md-5 rounded-circle" style="background-color:#d1c4e9;">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto py-5" src="./static/10.png"/>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <a class="btn btn-outline-info btn-lg" href="#" role="button">See Our Services</a>
      </div>
      
    </div>

{% endblock body %}
