{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %}
   <div class="se-pre-con"></div>
<style>

.contact-section{
  background: url(/static/1.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}


</style>

{% if message_name %}
    <center class='mt-5 pt-5'>
       <h1> Thanks {{message_name}}!</h1>
        <p>We recieved your mail and respond shortly</p>
    </center>
      <br/><br/><br/>


{% else %}
    <div class="contact-section">

       <h1 class='mt-5' data-aos="zoom-in" data-aos-duration="1500">Contact Us</h1>
       <div class="border"data-aos="zoom-in" data-aos-duration="1500"></div>
       <form class="contact-form" action="{% url 'contact'%}" method="post" data-aos="fade-right" data-aos-duration="1500">
         {% csrf_token %}
        <input type="text" class="contact-form-text" placeholder="Your name" name="message-name"required>
        <input type="email" class="contact-form-text" placeholder="Your email" name="message-email" required>
      <input type="tel" pattern=".{10}" class="contact-form-text" id="validationCustom08" placeholder="Mobile" oninput="check(this)" name="message-phone" required>
        <textarea class="contact-form-text" placeholder="Your message" name="message" required></textarea>
        <input type="submit" class="contact-form-btn" value="Send" >
       </form>
    </div>
{% endif %}

{% endblock body %}