{% extends 'base.html' %}

{% block title %}Services{% endblock title %}
{% block services %}active
{% endblock services %}

{% block body %}
<div class="jumbotron text-white" style="background-image: url(https://cdn.pixabay.com/photo/2014/05/03/00/45/computer-336628_960_720.jpg); background-size: 100%;">
  <h1 class="display-4">Services</h1>
  <p class="lead">BrightSide Instittution gives solution to business.That will help businesses to grow much faster than others</p>
  <hr class="my-4 white">
  <p>Keep your Business at the Skylevel With Us.</p>
  </div>

  <h1 class="text-center"> Our Services</h1>
  <div class="row container m-2">
    <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

     </div>
    </div>
  </div>
</div>
{% endblock body %}